.button1{
    background-color: #22C55E;
    color: white;
    border-radius: 4px;
    border: #22C55E solid 1px;
    height: 40px;
    font-size: large;
}
.button2{
    opacity: 20%;
    background-color: #22C55E;
    color: white;
    border-radius: 4px;
    border: #22C55E solid 1px;
    height: 40px;
    font-size: large;
}
.button3{
    background-color: white;
    color:#22C55E;
    border: #22C55E solid 1px;
    font-size: large;
    border-radius: 20px;
    height: 40px;
}

.buttonBox{
    margin: 20px 20px 20px 20px;
    ;
}

