@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

*{
    font-family: 'Freesentation-9Black'; 
}

:root{
    /* 색상 */
    --color--primary:#E8EDEE;
    --color--secondary:#CBDDE6;
    --color--background:#4D7F9D;
    --color--text:#2D4E66;
    --color--link:#DBCEA4;

    /* 폰트 사이즈 */
    --font-size--base:16px;
    --font-size--x-small:10px;
    --font-size--small:12px;
    --font-size-large:20px;
    --font--size-x-large:24px;
    --font--size-2lx-large:40px;
    
    /* 센터링 & 컨테이닝 */
    --max--width--pc:1280px;
    --max--width--mobile:768px;
}
.box{
    background-color: var(--color--secondary);
}