* {
    font-family: "굴림";
}

.제목 {
    text-align: center;
    text-shadow: 3px 2px 3px gray;
}

.내용 {
    word-spacing: 3px;
}

.작성날짜 {
    text-align: right;
}

.강조 {
    font-weight: bold;
}

li {
    color : green;
}