<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>
    
    <div class="container">
        <h3>로그인 페이지</h3>

        <!-- 아이디, 비밀번호 입력창 -->

        <div class="login">
            <form>
                <div class="group">
                  <input type="text"><span class="highlight"></span><span class="bar"></span>
                  <label>ID</label>
                </div>
                <div class="group">
                  <input type="password"><span class="highlight"></span><span class="bar"></span>
                  <label>PASSWORD</label>
                </div>
                <button type="button" class="button buttonBlue">LOGIN
                  <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
              </form>
        </div>

    </div>
</body>
</html>