<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>
    
    <div class="container">
        <h3>로그인 페이지</h3>

        <!-- 아이디, 비밀번호 입력창 -->

        <div class="login">
            <form class="loginForm">
                <div class="group">
                  <input type="text" class="midInput" name="mid"><span class="highlight"></span><span class="bar"></span>
                  <label>ID</label>
                </div>
                <div class="group">
                  <input type="password" class="mpwdInput" name="mpwd"><span class="highlight"></span><span class="bar"></span>
                  <label>PASSWORD</label>
                </div>
                <button type="button" class="button buttonBlue" onclick="onLogin()">LOGIN
                  <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
                <small class="text-body-secondary">
                  <a href="/oauth2/authorization/kakao"> 카카오로그인 </a>
                </small>
              </form>
        </div>

        <script src="/js/member/login.js"></script>

    </div>
</body>
</html>