#wrap{ /* 전체 구역 */ 
    width : 1280px; 
    margin: 0 auto; /*가운데 정렬*/
    position: relative;
} 

#header{ /* 헤더 구역 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

#headerLogo {
    padding : 10px 40px;
}

#authorNav {
    font-size: 12px;
    text-align: end;
    padding:0px 20px;
}

#authorNav li{
    padding:0px 10px;
}

#menuNav {
    font-size : 20px;
    font-weight: bold;
    padding : 2px 10px;
}

#menuNav li{
    padding:0px 40px;
}

li{
    display: inline;
    list-style-type: none;
}



#main{ /* 메인 구역 */
    display: flex; /* 하위 요소(본문/사이드바)들을 배치 하는 방법 설정 */
    flex-direction: column; /* [기본값/생략가능] 하위 요소들을 가로 방향 배치 */
    flex-wrap: nowrap;  /* [기본값/생략가능] 만일 자식요소가 더 크면 하위 요소 크기 자동맞춤 */
    justify-content: space-between; /* 양쪽 끝에 여백없이 사이 균등 정렬  */
    padding : 20px 0px;
    margin-top: 280px;
}

#mainContents{
    display: flex;
    flex-direction: row;
}

#mainImg{
    position: absolute;
    transform: translateX(-30%);
    width: 100vw;
    z-index: -1;
}



#sidebar ol li{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    text-align: left;
    padding: 8px;
    width: 200px;
    border-bottom: 1px solid rgb(190, 190, 190);
}


#sidebar ol li#list1 {
    background-color: gray;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

#contents{ 
    width : 980px ; 
    padding: 5px;
}

#contentsTitle{
    font-size : 20px;
    padding : 5px;
    border-bottom:  1px solid rgb(190, 190, 190);
}

#contents img {
    display: block;
    margin : 0 auto;
    padding : 0px;
}

p {
    margin : 3px;
}

#sidebar{
    width : 300px; /* 상위요소의 사이즈가 1280px 에서 형제요소가 980px 사용했으모로 300px 사용*/ ;
}
#footer{ 
    display: flex;
    justify-content: space-between;
    background-color: #2c2a29;
}

#footerLogo {
    padding : 10px 40px;
}

#info{
    color: white;
    font-size: 12px;
    padding-right: 10px; 
    padding-top : 30px;
}